<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<div id="app1" v-bind:style="{ backgroundColor: color}">
   
    <h1>Color of the Day</h1>
      <div class="color">
    <input type="text" v-bind:style="{ color: color}" v-model="color" maxlength="7" placeholder="#facada"/>
      <input type="color" v-model="color"/>
        </div>
    </div>
<div id="app2" v-bind:style="{color:color}">
<h2></h2>
</div>
    <style>
    


#app1 {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  input {
    padding: 1px 1px;
    font-size: 2px;
    border-radius: 3px;
    background: #facada;
  }
  
}

h1 {
  font-family: sans-serif;
  color: #fff;
  text-shadow: azure 1px;
  font-weight: 350;
}

input[type="color"]{
  width:40px;
  margin:1px;
  padding:0px !important;
  height:40px;
}
    </style>
    <script>
        new Vue({
  el: '#app1',
  data: {color: '#facada'}
})
    </script>